.lock
.gradle
.bin
.gradle/8.2/checksums/checksums.lock
.gradle/8.2/executionHistory/executionHistory.bin
.gradle/8.2/executionHistory/executionHistory.lock
.gradle/8.2/fileHashes/fileHashes.lock
.gradle/8.2/fileHashes/fileHashes.bin
*.bin
*.lock
